@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header{
   
   
}

header ul{
    display: flex;
    list-style: none;
    
    
}

.menu{
    background-color:burlywood;
    
}




