@charset "utf-8";

*{

}
body{
    background-color: rgb(28, 124, 128);
    
    height: 98vh;
    

}

main {
   
    border:1px solid black;
    height: 25px; 
}
header{

    border:1px solid black;
    height: 200px

}

aside{

    
          
}

.bloco1 {

      background-color:blanchedalmond;
      margin-left: 100px;
      height:525px;
      border:1px solid black;
      position:absolute;
      
           
}

.bloco2 {

    background-color:blanchedalmond ;
    height:525px;
    border:1px solid black;
    margin-left:927px;
    position: absolute;
    
    
}

div {
    
    border: 1px solid black;
    text-align:center;
    height: 100px;
    width: 120px;
    margin-bottom: 5px;
    position:relative;
    
    
}


footer{

}